body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    text-align: center;
}

.menu{
    display: flex;

}

.menu .card{
    background-image: url('im.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    justify-content: space-between;
    width: 50px;
    margin: 0 5px;
    position: relative;
    border-radius: 30px;
}


.menu .card2{
    background-image: url('im.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    justify-content: space-between;
    width: 150px;
    transition: width 0.5s ease-in-out;
    margin: 0 5px;
    position: relative;
}
.menu .card2 p{
opacity: 9;
transition: opacity 2s ease-in-out;
}

.card p{
    color: white;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-weight: bold;
    z-index: 3;
    opacity: 0;
}